$gu: 8px; // grid-unit

$font-small: 0.75rem;
$font-medium: 1rem;
$font-medium-large: 1.5rem;
$font-large: 2rem;

@mixin text-overflow-with-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}