@mixin text-overflow-with-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin font-body-medium {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-family: var(--font-family);
}

@mixin font-label-large {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-family: var(--font-family);
}

@mixin font-title-medium {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  font-family: var(--font-family);
}

@mixin font-headline-medium {
  font-size: 1.76rem;
  line-height: 2.25rem;
  font-weight: 900;
  font-family: var(--font-family);
}