@import "_constants";

.expand-page {

  padding: calc(var(--grid-unit) * 3);
  overflow-y: auto;

  &__header {

    padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 2);

    &__title {
      @include font-headline-medium;
      margin-bottom: var(--grid-unit);

      &__link {
        color: var(--color-dark-black);

        &:visited {
          color: var(--color-dark-black);
        }
      }
    }
    &__description {
      @include font-body-large;
    }
  }

  &__stats {
    margin-top: calc(var(--grid-unit) * 0);
    padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 2);

    &__grid {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
}

.stats-card {
  width: calc(var(--grid-unit) * 14);
  text-align: center;
  flex: 0 0 auto;
  border: 1px solid var(  --color-gray);

  &:first-of-type {
    border-top-left-radius: calc(var(--grid-unit) * 1);
    border-bottom-left-radius: calc(var(--grid-unit) * 1);
  }

  &:last-of-type {
    border-top-right-radius: calc(var(--grid-unit) * 1);
    border-bottom-right-radius: calc(var(--grid-unit) * 1);
  }

  &__header {
    @include font-body-medium;
    padding: var(--grid-unit) calc(var(--grid-unit) * 0.25);
    color: var(--color-dark-black);
  }

  &__content {
    margin-top: var(--grid-unit);
    @include font-label-large;

    &__box {
      padding: calc(var(--grid-unit) * 0.25);

      &__inner {

        padding: calc(var(--grid-unit) * 1);
        @include text-overflow-with-ellipsis;
        position: relative;
        border-radius: calc(var(--grid-unit) * 1);

        &--supported {
          background-color: var(--color-green);
        }

        &--unsupported {
          background-color: var(--color-error);
        }

        &--highlight {
          outline: 1px solid var(--color-palette-2);
          outline-offset: -1px;
        }

        &__note {
          position: absolute;
          left: 0;
          top: 0;
          @include font-label-small;
          background-color: var(--color-dark-black-half);
          color: var(--color-white);
          padding: calc(var(--grid-unit) * 0.375);
          transition: color 0.33s ease-in-out, background-color 0.33s ease-in-out;
        }

        &--highlight .stats-card__content__box__note {
          background-color: var(--color-dark-gray);
          color: var(--color-light-gray);
        }

        &--with-note {
          &:hover {
            outline: 1px solid var(--color-palette-2);
            outline-offset: -1px;
          }
    
          &:hover .stats-card__content__box__note {
            background-color: var(--color-dark-gray);
            color: var(--color-light-gray);
          }
        }

      }
    }
  }
}

.aside {
  width: 150px;
  flex: 0 0 auto;
}