@import "_constants";

.expand-page {

  padding: calc(var(--grid-unit) * 3);
  overflow-y: auto;

  &__header {

    background: var(--color-palette-1);
    padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 2);

    &__title {
      font-size: var(--font-large);;
      margin-bottom: var(--grid-unit);

      &__link {
        color: var(--color-palette-3);

        &:visited {
          color: var(--color-dark-gray);
        }
      }
    }
    &__description {
      font-size: var(--font-small);
    }
  }

  &__stats {
    margin-top: calc(var(--grid-unit) * 0);
    padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 2);
    background: var(--color-palette-2);

    &__grid {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
}

.stats-card {
  width: calc(var(--grid-unit) * 14);
  margin-right: var(--grid-unit);
  text-align: center;
  flex: 0 0 auto;

  &__header {
    background-color: var(--color-dark-gray);
    padding: var(--grid-unit) calc(var(--grid-unit) * 0.25);
    color: var(--color-palette-5);
    border-bottom: 2px solid var(--color-palette-4);
  }

  &__content {
    margin-top: var(--grid-unit);
    font-weight: 800;
    font-size: var(--font-small);

    &__box {
      padding: calc(var(--grid-unit) * 1.5);
      @include text-overflow-with-ellipsis;
      position: relative;

      &--supported {
        background-color: var(--color-green);
      }

      &--unsupported {
        background-color: var(--color-red);
      }

      &--highlight {
        outline: 1px solid var(--color-palette-2);
        outline-offset: -1px;
      }

      &__note {
        position: absolute;
        right: 0;
        bottom: 0;
        font-weight: 100;
        background-color: var(--color-light-gray);
        color: var(--color-dark-gray);
        padding: calc(var(--grid-unit) * 0.5);
        transition: color 0.33s ease-in-out, background-color 0.33s ease-in-out;
      }

      &--highlight .stats-card__content__box__note {
        background-color: var(--color-dark-gray);
        color: var(--color-light-gray);
      }

      &--with-note {
        &:hover {
          outline: 1px solid var(--color-palette-2);
          outline-offset: -1px;
        }
  
        &:hover .stats-card__content__box__note {
          background-color: var(--color-dark-gray);
          color: var(--color-light-gray);
        }
      }

    }
  }
}