@import "_constants";
@import "_icons";

:root {

  --grid-unit: 8px;

  --font-smaller: 0.6875rem; // 11px
  --font-small: 0.75rem; // 12px
  --font-small-medium: 0.875rem; // 14px
  --font-medium: 1rem; // 16px
  --font-medium-medium-large: 1.375rem; // 22px
  --font-medium-large-large: 1.5rem; // 24px
  --font-medium-large: 1.75rem; // 28px
  --font-large: 2rem; // 32px
  --font-larger: 3rem; // 48px

  --color-primary: #006A5F;
  --color-on-primary: #FFFFFF;
  --color-primary-container: #6DDAD2;
  --color-on-primary-container: #1A1C1C;
  --color-secondary: #006A5F;
  --color-on-secondary: #FFFFFF;
  --color-secondary-container: #6DDAD2;
  --color-on-secondary-container: #1A1C1C;
  --color-error: #F57971;
  --color-on-error: #1A1C1C;
  --color-background: #FFFFFF;
  --color-on-background: #1A1C1C;
  --color-surface: #FFFFFF;
  --color-on-surface: #1A1C1C;
  --color-surface-variant: #D0F1EE;
  --color-on-surface-variant: #1A1C1C;
  --color-surface-1: #F2FDFC;
  --color-surface-2: #EBFBFA;
  --color-surface-3: #E3FAF8;
  --color-surface-4: #E0F9F8;
  --color-surface-5: #DBF9F6;
  --color-outline: #CDDAD6;

  --font-family: system-ui;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #98E0DB;
    --color-on-primary: #1A1C1C;
    --color-primary-container: #6DDAD2;
    --color-on-primary-container: #1A1C1C;
    --color-secondary: #98E0DB;
    --color-on-secondary: #1A1C1C;
    --color-secondary-container: #6DDAD2;
    --color-on-secondary-container: #1A1C1C;
    --color-error: #FFB4A9;
    --color-on-error: #680003;
    --color-background: #1A1C1C;
    --color-on-background: #E0E3E1;
    --color-surface: #1A1C1C;
    --color-on-surface: #E0E3E1;
    --color-surface-variant: #2D403F;
    --color-on-surface-variant: #BFC9C6;
    --color-surface-1: #1E2525;
    --color-surface-2: #212B2B;
    --color-surface-3: #233130;
    --color-surface-4: #243332;
    --color-surface-5: #263735;
    --color-outline: #454F4C;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: var(--color-background);
  overflow: hidden;
  font-family: var(--font-family);
  color: var(--color-on-background);
}

body {
  overflow-y: auto;
  display: flex;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: var(--color-primary);

  &:hover {
    color: var(--color-on-background);
  }
}

.search {
  padding: calc(var(--grid-unit) * 2);
  width: 100%;
  display: flex;

    &--small {
      padding: var(--grid-unit);

      .search__title {
        margin-bottom: calc(var(--grid-unit) * 0.5);
        font-size: var(--font-medium);
      }
    }

    &__container {
      flex: 1 1 auto;
    }

    &__logo {
      display: none;
      width: 56px;
      height: 56px;
    }
}

body.embed  {
  padding: 0;
  .search {
    display: none;
  }
}

.main {
  flex: 1 1 auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    @include font-headline-medium;
  }

  &__footer {
    flex: 0 0 auto;
    display: flex;
    column-gap: calc(var(--grid-unit)*3);
    row-gap: var(--grid-unit);
    align-items: center;
    justify-content: center;
    margin-top: calc(var(--grid-unit) * 3);
    margin-bottom: calc(var(--grid-unit) * 3);
    flex-wrap: wrap;
    font-size: var(--font-small-medium);
    max-width: calc(var(--grid-unit) * 105);

    & a {
      color: var(--color-on-background);

      &:hover {
        color: var(--color-primary);
      }
    }

    &__element {
      white-space: nowrap;
      line-height: calc(var(--grid-unit) * 3);
    }

    &__link {
      display: flex;
      align-items: center;
      gap: calc(var(--grid-unit) * 0.5);
    }
  }
}

.navigation {
  width: calc(var(--grid-unit) * 10);
  margin-top: calc(var(--grid-unit) * 4);
  flex: 0 0 auto;
  text-align: center;

  &__button {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin: calc(var(--grid-unit) * 1) 0;
    @include font-label-medium;

    &__figure {
      padding: calc(var(--grid-unit)*0.5) calc(var(--grid-unit)*2);
      border-radius: calc(var(--grid-unit) * 3);
    }

    &__label {
      margin-top: calc(var(--grid-unit) * 0.5);
      color: var(--color-on-surface);
    }
      
    &:hover {
      .navigation__button__figure {
        background-color: var(--color-surface-variant);
      }
    }
  }

  &__logo {
    margin-bottom: calc(var(--grid-unit) * 4);
    display: block;
  }
}

@media  (max-width: 600px) {
  body {
    flex-direction: column-reverse;
    padding: 0;
  }

  .navigation {
    width: 100%;
    background-color: var(--color-surface-2);
    padding: calc(var(--grid-unit)*0.5) calc(var(--grid-unit)*1) calc(var(--grid-unit)*1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0;

    &__logo {
      display: none;
    }
  }

  .search {
    &__logo {
      display: block;
    }
  }

  .main {
    &__footer {
      padding: 0 calc(var(--grid-unit) * 2);
    }
  }
}