@import "_constants";

:root {
  --color-palette-1: #d4afb9;
  --color-palette-2: #d1cfe2;
  --color-palette-3: #9cadce;
  --color-palette-4: #7ec4cf;
  --color-palette-5: #daeaf6;
  // https://www.schemecolor.com/pastel-red-to-green.php
  --color-red: #FF8989;
  --color-dark-red: #5c0303;
  --color-green: #6ddad2;
  --color-light-green: #ebfbfa;


  --color-dark-gray: #333333;
  --color-light-gray: #dfe1e1;
  --color-white: #ffffff;
  --color-primary: #006a5f;
  --color-primary-container: #6ddad2;
  --color-error: #f57971;
  --color-dark-black: #1a1c1a;
  --color-dark-black-half: #1a1c1a77;
  --color-gray: #cddad6;

  --grid-unit: 8px;

  --font-smaller: 0.6875rem;
  --font-small: 0.75rem;
  --font-small-medium: 0.875rem;
  --font-medium: 1rem;
  --font-medium-medium-large: 1.375rem;
  --font-medium-large: 1.75rem;
  --font-large: 2rem;
  --font-larger: 3rem;

  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background: var(--color-white);
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  overflow-y: auto;
  display: flex;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: var(--color-green);
}

.search {
  padding: calc(var(--grid-unit) * 2);
  width: 100%;

    &--small {
      padding: var(--grid-unit);

      .search__title {
        margin-bottom: calc(var(--grid-unit) * 0.5);
        font-size: var(--font-medium);
      }
    }
}
.main-title {
  font-size: var(--font-larger);
  font-weight: 100;
  color: var(--color-light-gray);
  padding: calc(var(--grid-unit) * 2) 0;
  text-align: center;
}

body.embed  {
  padding: 0;
  .search {
    display: none;
  }
  .main-title {
    display: none;
  }
}

.main {
  flex: 1 1 auto;

  &__title {
    @include font-headline-medium;
  }
}

.navigation {
  width: calc(var(--grid-unit) * 10);
  margin-top: calc(var(--grid-unit) * 4);
  flex: 0 0 auto;
  text-align: center;

  &__button {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin: calc(var(--grid-unit) * 1) 0;
    color: var(--color-dark-black);
    @include font-label-medium;

    &__figure {

      padding: calc(var(--grid-unit)*1) calc(var(--grid-unit)*2.5);
      border-radius: calc(var(--grid-unit) * 3);

      &__image {
        width: 18px;
        height: 18px;
      }
    }

    &__label {
      margin-top: calc(var(--grid-unit) * 0.5);
    }
      
    &:hover {

      .navigation__button__figure {
        background-color: var(--color-green);
      }
    }
  }

  &__logo {
    margin-bottom: calc(var(--grid-unit) * 4);
  }
}

@media  (max-width: 600px) {
  body {
    flex-direction: column-reverse;
    padding: 0;
  }

  .navigation {
    width: 100%;
    background-color: var(--color-light-green);
    padding: calc(var(--grid-unit) * 1) calc(var(--grid-unit) * 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__logo {
      display: none;
    }
  }
}