@import "_constants";

a {
  color: var(--color-primary);
}

.about {

  padding: calc(var(--grid-unit) * 3);
  overflow-y: auto;

  &__body {

    padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 2);

    &__title {
      @include font-headline-medium;
      margin-bottom: var(--grid-unit);
    }

    &__description {
      @include font-body-large;

      &__list {
        color: var(--color-primary);

        &__bullet {
          list-style: disc;
          padding: 0 10px;
        }
      }
    }

    &__subsection {
      @include font-headline-small;
      margin: calc(var(--grid-unit) * 4) 0  calc(var(--grid-unit) * 4);

      &__title {
        margin-top: calc(var(--grid-unit) * 2);
        @include font-title-medium;
      }
      &__content {
        @include font-body-large;
      }
    }
  }
}

.main {
  padding: calc(var(--grid-unit)*3) calc(var(--grid-unit)*2) 0 calc(var(--grid-unit)*2);
  width: 100%;
  min-width: 0;
  
  &__wrapper {
    display: flex;
    width: 100%;

    &__content {
      overflow-x: auto;
      flex: 1 1 auto;
    }
  }
}

#navigation__about .navigation__button__figure {
  background-color: var(--color-secondary-container);
}

@media  (max-width: 600px) {

  .main__wrapper {
    flex-direction: column;
  }
}