@import "_constants";

.about {

  padding-top: calc(var(--grid-unit) * 3);
  overflow-y: auto;

  &__body {

    padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 2);

    &__title {
      @include font-headline-medium;
      margin-bottom: calc(var(--grid-unit) * 2);
    }

    &__description {
      @include font-body-large;

      & p {
        margin-top: calc(var(--grid-unit) * 2);
      }

      &__list {
        margin: var(--grid-unit) 0 0 calc(var(--grid-unit) * 2);
        
        & li {
          list-style: disc;
        }
      }
    }

    &__subsection {
      @include font-headline-small;
      margin: calc(var(--grid-unit) * 6) 0  calc(var(--grid-unit) * 2);

      &__title {
        margin-top: calc(var(--grid-unit) * 4);
        margin-bottom: var(--grid-unit);
        @include font-title-medium;
      }

      &__content {
        @include font-body-large;
      }
    }
  }
}

.main {
  padding-top: calc(var(--grid-unit)*3);
  width: 100%;
  min-width: 0;
}

#navigation__about .navigation__button__figure {
  background-color: var(--color-secondary-container);

  .icon {
    background-color: var(--color-on-secondary-container);
  }
}

@media  (max-width: 840px) {
  .main__wrapper__content {
    padding: 0 calc(var(--grid-unit) * 4);
  }
}

@media  (max-width: 600px) {

  .main__wrapper {
    flex-direction: column;

    &__content {
      padding: 0;
    }
  }
}