@import "_constants";

.expand-page {

  padding: calc(var(--grid-unit) * 3);
  overflow-y: auto;

  &__header {

    padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 2);

    &__title {
      @include font-headline-medium;
      margin-bottom: var(--grid-unit);

      &__link {
        color: var(--color-on-background);

        &:visited {
          color: var(--color-on-background);
        }
      }
    }
    &__description {
      @include font-body-large;
    }
  }

  &__stats {
    margin-top: calc(var(--grid-unit) * 0);
    padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 2);

    &__grid {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
    }
  }
}

.stats-card {
  width: calc(var(--grid-unit) * 14);
  text-align: center;
  flex: 0 0 auto;
  border: 1px solid var(--color-outline);

  &:first-of-type {
    border-top-left-radius: calc(var(--grid-unit) * 1);
    border-bottom-left-radius: calc(var(--grid-unit) * 1);
  }

  &:last-of-type {
    border-top-right-radius: calc(var(--grid-unit) * 1);
    border-bottom-right-radius: calc(var(--grid-unit) * 1);
  }

  &__header {
    @include font-body-medium;
    padding: var(--grid-unit) calc(var(--grid-unit) * 0.25);
    color: var(--color-on-background);
  }

  &__content {
    margin-top: var(--grid-unit);
    @include font-label-large;

    &__box {
      padding: calc(var(--grid-unit) * 0.25);

      &__inner {

        padding: calc(var(--grid-unit) * 1);
        @include text-overflow-with-ellipsis;
        position: relative;
        border-radius: calc(var(--grid-unit) * 1);

        &--supported {
          background-color: var(--color-secondary-container);
        }

        &--unsupported {
          background-color: var(--color-error);
        }

        &--highlight {
          outline: 1px solid var(--color-on-primary-container);
          outline-offset: -1px;
        }

        &__note {
          position: absolute;
          left: 0;
          top: 0;
          @include font-label-small;
          background-color: var(--color-background);
          color: var(--color-on-background);
          padding: calc(var(--grid-unit) * 0.375);
          transition: color 0.33s ease-in-out, background-color 0.33s ease-in-out;
        }

        &--highlight .stats-card__content__box__note {
          background-color: var(--color-background);
          color: var(--color-on-background);
        }

        &--with-note {
          &:hover {
            outline: 1px solid var(--color-on-primary-container);
            outline-offset: -1px;
          }
    
          &:hover .stats-card__content__box__note {
            background-color: var(--color-background);
            color: var(--color-on-background);
          }
        }

      }
    }
  }
}

.aside {
  width: 250px;
  margin: calc(var(--grid-unit) * 12) calc(var(--grid-unit) * 3) 0 0;
  flex: 0 0 auto;
}

.related-features {
  background-color: var(--color-surface-variant);
  padding: calc(var(--grid-unit) * 3);
  border-radius: calc(var(--grid-unit) * 3);

  &__title {
    @include font-title-small;
  }
  &__features {
    @include font-body-medium;
    margin-top: calc(var(--grid-unit) * 2);

    a {
      color: var(--color-on-secondary-container);
      text-decoration: none;
      padding: var(--grid-unit) var(--grid-unit);
      display: block;
      border-radius: calc(var(--grid-unit) * 2);

      &:hover {
        background-color: var(--color-secondary-container);
      }
    }
  }
}

.main {
  padding: calc(var(--grid-unit)*3) calc(var(--grid-unit)*2) 0 calc(var(--grid-unit)*2);
  width: 100%;
  min-width: 0;
  
  &__wrapper {
    display: flex;
    width: 100%;

    &__content {
      overflow-x: auto;
      flex: 1 1 auto;
      max-width: calc(var(--grid-unit) * 105);
      padding: 0 calc(var(--grid-unit) * 6);
    }
  }
}

@media  (max-width: 840px) {
  .main__wrapper__content {
    padding: 0 calc(var(--grid-unit) * 4);
  }
}

@media  (max-width: 600px) {

  .aside {
    width: 100%;
    margin: calc(var(--grid-unit) * 2) calc(var(--grid-unit) * 3) 0 0;
  }

  .main__wrapper {
    flex-direction: column;

    &__content {
      padding: 0;
    }
  }
}