@import "_constants";

.main {

  padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 2) 0 calc(var(--grid-unit) * 2);

  &__table {
    margin-top: calc(var(--grid-unit) * 3);
    width: 100%;

    &__header {
      background-color: var(--color-secondary-container);
      padding: calc(var(--grid-unit) * 1) 0;
      width: 100%;
      height: calc(var(--grid-unit)*5);
      border: 1px solid var(--color-outline);
      border-top-left-radius: var(--grid-unit);
      border-top-right-radius: var(--grid-unit);
      color: var(--color-on-secondary);

      &__row {
        display: flex;
        @include font-label-large;
        padding: 0 var(--grid-unit);

        &__cell {
          vertical-align: middle;
          width: 100px;
          flex: 0 0 auto;
          text-align: center;

          &--feature {
            flex: 1 1 auto;
            text-align: left;
          }

          &__icon {
            width: 12px;
            height: 12px;
            vertical-align: middle;
          }

          &__label {
            vertical-align: middle;
          }
        }
      }
    }

    &__body {
      width: 100%;

      &__row {
        border: 1px solid var(--color-outline);
        padding: 0 var(--grid-unit);
        display: flex;
        @include font-body-medium;

        &__cell {
          padding: var(--grid-unit);
          width: 100px;
          flex: 0 0 auto;

          &--feature {
            flex: 1 1 auto;
          }

          &--support {
            text-align: center;
          }

          &--main {
            @include font-title-medium;
          }

          &__link {
            color: var(--color-primary);
            text-decoration: none;

            &__image {
              width: 12px;
              height: 12px;
            }

            &__text {
              width: 12px;
              height: 12px;
            }
          }

          &__icon {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
}

#navigation__features .navigation__button__figure {
  background-color: var(--color-secondary-container);
}