@import "_constants";

.main {

  padding-top: calc(var(--grid-unit) * 3);
  
  &__header {
    padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 2);
  }

  &__table {
    display: block;
    padding: 0 calc(var(--grid-unit)*2) calc(var(--grid-unit)*4);
    width: 100%;

    &__header {
      display: block;
      background-color: var(--color-secondary-container);
      padding-top: calc(var(--grid-unit) * 1.2);
      width: 100%;
      height: calc(var(--grid-unit)*5);
      border: 1px solid var(--color-outline);
      border-top-left-radius: var(--grid-unit);
      border-top-right-radius: var(--grid-unit);
      color: var(--color-on-secondary-container);

      &__row {
        display: flex;
        @include font-label-large;
        padding: 0 var(--grid-unit);

        &__cell {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: calc(var(--grid-unit) * 0.5);
          width: 90px;
          flex: 0 0 auto;
          text-align: center;

          &--feature {
            flex: 1 1 auto;
            justify-content: left;
          }

          & .icon {
            width: 16px;
            height: 16px;
            background-color: var(--color-on-secondary-container);
          }

          &__label {
            vertical-align: middle;
          }
        }
      }
    }

    &__body {
      display: block;
      width: 100%;

      &__row {
        border: 1px solid var(--color-outline);
        padding: 0 var(--grid-unit);
        display: flex;
        @include font-body-large;

        &__cell {
          padding: calc(var(--grid-unit) * 1.375) var(--grid-unit) var(--grid-unit) var(--grid-unit);
          width: 90px;
          flex: 0 0 auto;

          &--feature {
            flex: 1 1 auto;
          }

          &--support {
            display: flex;
            justify-content: center;

            & .icon__check {
              background-color: var(--color-primary);
            }

            & .icon__block {
              background-color: var(--color-error);
            }

            & .icon__bug {
              background-color: var(--color-on-surface-variant);
            }
          }

          &--main {
            @include font-title-medium;
          }

          &__link {
            text-decoration: none;

            &__icon {
              width: 18px;
              height: 18px;
              background-color: var(--color-on-background);
              opacity: 0.5;
              display: inline-block;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

#navigation__features .navigation__button__figure {
  background-color: var(--color-secondary-container);

  .icon {
    background-color: var(--color-on-secondary-container);
  }
}

@media  (max-width: 840px) {
  .main__content {
    padding: 0 calc(var(--grid-unit) * 4);
  }
}

@media  (max-width: 600px) {

  .main__content {
    padding: 0;
  }

  .main__table__header__row__cell {
    width: 48px;

    &__icon {
      display: none;
    }
  }

  .main__table__body__row__cell {
    width: 48px;
  }
}