$gu: 8px; // grid-unit

$font-large: 2rem;
$font-small: 0.75rem;

$color-palette-1: #d4afb9;
$color-palette-2: #d1cfe2;
$color-palette-3: #9cadce;
$color-palette-4: #7ec4cf;
$color-palette-5: #daeaf6;

// https://www.schemecolor.com/pastel-red-to-green.php
$red: #FF8989;
$green: #7ABD91;


$dark-gray: #333333;