<template id="features-widget-template">
  <style>

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      list-style: none;
    }

    p {
      margin: 0;
    }

    .wrapper {
      padding: calc(var(--grid-unit) * 3) calc(var(--grid-unit) * 2);
      border-top: 1px solid var(--color-gray);
    }

    nav.navigation {
      width: 100%;
      display: flex;
    }

    .navigation__button {
      border: none;
      font-size: var(--font-small-medium);
      line-height: 1.25rem;
      font-weight: 500;
      font-family: var(--font-family);
      color: var(--color-dark-black);
      padding: calc(var(--grid-unit)*1) calc(var(--grid-unit)*2);
      margin-right: calc(var(--grid-unit)*1);
      border-radius: calc(var(--grid-unit) * 3);
      cursor: pointer;
      background: transparent;
      transition: background-color 0.33s ease-in-out, color 0.33s ease-in-out;
    }

    .navigation__button:hover {
      background: rgba(0,0,0,0.25);
    }

    .navigation__button--selected {
      background: var(--color-green);
      color: var(--color-dark-black);
      cursor: default;
    }

    .navigation__button--selected:hover {
      background: var(--color-green);
      color: var(--color-dark-black);
    }

    .navigation__button--selected .navigation__button__count {
      display: none;
    }

    .navigation__button__count {
      border-radius: calc(var(--grid-unit) * 3);
      background: var(--color-green);
      padding: 0 calc(var(--grid-unit) * 0.75);
    }

    .view {
      width: 100%;
      display: none;
      margin-top: calc(var(--grid-unit) * 2);
    }

    /* NOTES */

    .notes-element {
      display: flex;
      gap: calc(var(--grid-unit) * 0.5);
      align-items: center;
      padding: calc(var(--grid-unit) * 1.75) 0 calc(var(--grid-unit) * 0.25);
    }

    .notes-element--highlight:hover {
      border-bottom: 1px solid var(--color-dark-gray)!important;
    }

    .notes-element-label {
      font-size: var(--font-small);
      line-height: 1rem;
      font-weight: 400;
      border: 1px solid var(--color-gray);
      padding: calc(var(--grid-unit) * 0.5);
      width: 14px;
      text-align: center;
    }

    .notes-element-content {
      padding: calc(var(--grid-unit) * 2);
    }
  </style>
  <section
    class="wrapper"
    id="main"
  >
    <nav class="navigation" id="navigation">
      {{{features-navigation notes notes_by_num spec links sub_features bugs}}}
    </nav>
    <div class="features">
      {{{features-notes notes notes_by_num}}}
      {{{features-resources spec links}}}
      {{{features-subfeatures sub_features}}}
      {{{features-bugs bugs}}}
    </div>
  </section>
</template>