<!DOCTYPE html>
<html>
  <head>
    <title>Can I Lottie</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/index.scss" rel="stylesheet" />
    <link href="../css/features.scss" rel="stylesheet" />
    <link rel="icon" href="favicon.ico" />
  </head>
  <body>
    <!-- TEMPLATES -->
    {{> search-widget}}
    {{> search-result}}
    <!-- END TEMPLATES -->
    {{> navigation}}
    <main class="main">
      <div class="main__content">
        <div class="main__body">
          {{> search-section isSmall=true}}
          <section class="main__header">
            <h1 class="main__title">Lottie feature index</h1>
          </section>
          <table class="main__table">
            <thead class="main__table__header">
              <tr class="main__table__header__row">
                <th class="main__table__header__row__cell main__table__header__row__cell--feature">Feature</th>
                <th class="main__table__header__row__cell">
                  <span
                    class="icon icon__world
                    role="presentation"
                  >
                  </span>
                  <span
                    class="main__table__header__row__cell__label"
                  >
                    Web
                  </span>
                </th>
                <th class="main__table__header__row__cell">
                  <span
                    class="icon icon__computer
                    role="presentation"
                  >
                  </span>
                  <span
                    class="main__table__header__row__cell__label"
                  >
                    Skottie
                  </span>
                </th>
                <th class="main__table__header__row__cell">
                  <span
                    class="icon icon__android
                    role="presentation"
                  >
                  </span>
                  <span
                    class="main__table__header__row__cell__label"
                  >
                    Android
                  </span>
                </th>
                <th class="main__table__header__row__cell">
                  <span
                    class="icon icon__apple
                    role="presentation"
                  >
                  </span>
                  <span
                    class="main__table__header__row__cell__label"
                  >
                    iOS
                  </span>
                </th>
              </tr>
            </thead>
            <tbody class="main__table__body">
              {{#each features}}
                <tr class="main__table__body__row">
                  <td class="main__table__body__row__cell main__table__body__row__cell--feature {{#unless is_sub_level}} main__table__body__row__cell--main {{/unless}}"
                    style="padding-left: calc({{sub_level}} * 10px)"
                  >
                    <a
                      href="{{link}}"
                      class="main__table__body__row__cell__link"
                    >
                      {{#if is_sub_level}}
                      <span
                        class="icon icon__subfeature main__table__body__row__cell__link__icon"
                        role="presentation"
                      >
                      </span>
                      {{/if}}
                      <span class="main__table__body__row__cell__link__text">
                        {{title}}
                      </span>
                    </a>
                  </td>
                  <td class="main__table__body__row__cell main__table__body__row__cell--support">
                    {{{feature-icon players 'lottie-web'}}}
                  </td>
                  <td class="main__table__body__row__cell main__table__body__row__cell--support">
                    {{{feature-icon players 'skottie'}}}
                  </td>
                  <td class="main__table__body__row__cell main__table__body__row__cell--support">
                    {{{feature-icon players 'lottie-android'}}}
                  </td>
                  <td class="main__table__body__row__cell main__table__body__row__cell--support">
                    {{{feature-icon players 'lottie-ios'}}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        {{> footer}}
      </div>
    </main>
    <script
      src="../src/search-widget.ts"
      type="module"
      charset="utf-8"
    ></script>
  </body>
</html>
