<template id="features-widget-template">
  <style>

    ul {
      padding: 0;
      margin: 0;
    }

    li {
      list-style: disc;
    }

    p {
      margin: 0;
    }

    a { 
      color: var(--color-primary);
    }

    a:hover {
      color: var(--color-on-background);
    }

    .wrapper {
      padding: calc(var(--grid-unit) * 4) calc(var(--grid-unit) * 2);
    }

    .separator {
      padding: 0 calc(var(--grid-unit) * 2);
    }

    .separator__line {
      border-top: 1px solid var(--color-outline);
    }

    nav.navigation {
      width: 100%;
      display: flex;
      margin-bottom: calc(var(--grid-unit) * 4);
    }

    .navigation__button {
      border: none;
      font-size: var(--font-small-medium);
      line-height: 1.25rem;
      font-weight: 500;
      font-family: var(--font-family);
      color: var(--color-on-secondary-container);
      padding: calc(var(--grid-unit)*0.75) calc(var(--grid-unit)*2);
      margin-right: calc(var(--grid-unit)*1);
      border-radius: calc(var(--grid-unit) * 3);
      cursor: pointer;
      background: transparent;
      transition: background-color 0.33s ease-in-out, color 0.33s ease-in-out;
    }

    .navigation__button:hover {
      background: var(--color-secondary-container);
    }

    .navigation__button--selected {
      background: var(--color-secondary-container);
      color: var(--color-on-secondary-container);
      cursor: default;
    }

    .navigation__button--selected:hover {
      background: var(--color-secondary-container);
      color: var(--color-on-secondary-container);
    }

    .navigation__button--selected .navigation__button__count {
      display: none;
    }

    .navigation__button__count {
      border-radius: calc(var(--grid-unit) * 3);
      background: var(--color-surface-5);
      padding: 0 calc(var(--grid-unit) * 0.5);
      margin-left: calc(var(--grid-unit) * 0.25);
      font-size: var(--font-small);
      line-height: 1rem;
    }

    .view {
      width: 100%;
      display: none;
    }

    /* NOTES */

    .notes-element {
      display: flex;
      gap: calc(var(--grid-unit) * 2);
      align-items: center;
      padding-bottom: calc(var(--grid-unit) * 2.5);
    }

    .notes-element-label {
      font-size: var(--font-small);
      line-height: 1rem;
      font-weight: 400;
      border: 1px solid var(--color-outline);
      width: 14px;
      height: 14px;
      text-align: center;
    }

    /* SECTIONS */
    .section-element {
      margin-left: calc(var(--grid-unit) * 2);
      padding: var(--grid-unit) 0 calc(var(--grid-unit) * 0.25);
    }

    .section-element__content {
      padding: calc(var(--grid-unit) * 1);
    }

    .section-element__content a {
      color: var(--color-secondary);
    }

  </style>
  <div class="separator">
    <div class="separator__line">
    
    </div>
  </div>
  <section
    class="wrapper"
    id="main"
  >
    <nav class="navigation" id="navigation">
      {{{features-navigation notes notes_by_num spec links sub_features bugs}}}
    </nav>
    <div class="features">
      {{{features-notes notes notes_by_num}}}
      {{{features-resources spec links}}}
      {{{features-subfeatures sub_features}}}
      {{{features-bugs bugs}}}
    </div>
  </section>
</template>