<!DOCTYPE html>
<html>
  <head>
    <title>Can I Lottie</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/index.scss" rel="stylesheet" />
  </head>
  <body>
    <!-- TEMPLATES -->
    {{> search-widget}}
    {{> search-result}}
    <!-- END TEMPLATES -->
    {{> main-title}}
    {{> search-section}}
    <script
      src="../src/search-widget.ts"
      type="module"
      charset="utf-8"
    ></script>
  </body>
</html>
