<div class="main__footer">
  <div class="main__footer__element">© 2022 <a href="https://github.com/lottie-animation-community/caniuse/blob/main/LICENSE">MIT license</a></div>
  <div class="main__footer__element">Last updated {{date}}</div>
  <div class="main__footer__element">
    <a
      href="https://github.com/lottie-animation-community/caniuse/"
      class="main__footer__link"
    >
      <img src="/assets/main/github.svg" class="main__footer__link__image" /> GitHub
    </a>
  </div>
  <div class="main__footer__element">
    <a
      href="https://github.com/lottie-animation-community/caniuse/issues"
      class="main__footer__link"
    >
      <img src="/assets/main/bug.svg" class="main__footer__link__image" /> Report an issue
    </a>
  </div>
</div>