<nav class="navigation">
  <img
    src="/assets/navigation/logo-small-light-theme.svg"
    class="navigation__logo"
  />
  <a
    class="navigation__button"
    href="/"
  >
    <figure
      class="navigation__button__figure"
    >
      <img
        src="/assets/navigation/search.svg"
        class="navigation__button__figure__image"
      />
    </figure>
    <p>Search</p>
  </a>
  <a
    class="navigation__button"
    href="/features"
  >
    <figure
      class="navigation__button__figure"
    >
      <img
        src="/assets/navigation/list.svg"
        class="navigation__button__figure__image"
      />
    </figure>
    <p>Index</p>
  </a>
  <a
    class="navigation__button"
    href="/features"
  >
    <figure
      class="navigation__button__figure"
    >
      <img
        src="/assets/navigation/info.svg"
        class="navigation__button__figure__image"
      />
    </figure>
    <p>About</p>
  </a>
</nav>