<nav class="navigation">
  <img
    src="/assets/navigation/logo-small-light-theme.svg"
    class="navigation__logo"
  />
  <a
    class="navigation__button"
    id="navigation__home"
    href="/"
  >
    <figure
      class="navigation__button__figure"
    >
      <img
        src="/assets/navigation/search.svg"
        class="navigation__button__figure__image"
      />
    </figure>
    <p class="navigation__button__label">Search</p>
  </a>
  <a
    class="navigation__button"
    id="navigation__features"
    href="/features"
  >
    <figure
      class="navigation__button__figure"
    >
      <img
        src="/assets/navigation/list.svg"
        class="navigation__button__figure__image"
      />
    </figure>
    <p class="navigation__button__label">Index</p>
  </a>
  <a
    class="navigation__button"
    id="navigation__about"
    href="/features"
  >
    <figure
      class="navigation__button__figure"
    >
      <img
        src="/assets/navigation/info.svg"
        class="navigation__button__figure__image"
      />
    </figure>
    <p class="navigation__button__label">About</p>
  </a>
</nav>