<nav class="navigation">
  <a
    href="/"
    class="navigation__logo"
  >
    <img
      src="/assets/navigation/logo-small.svg" 
    />
  </a> 
  <a
    class="navigation__button"
    id="navigation__home"
    href="/"
  >
    <figure
      class="navigation__button__figure"
    >
      <span
        class="icon icon__search"
        role="presentation"
      >
      </span>
    </figure>
    <p class="navigation__button__label">Search</p>
  </a>
  <a
    class="navigation__button"
    id="navigation__features"
    href="/features"
  >
    <figure
      class="navigation__button__figure"
    >
      <span
        class="icon icon__list"
        role="presentation"
      >
      </span>
    </figure>
    <p class="navigation__button__label">Index</p>
  </a>
  <a
    class="navigation__button"
    id="navigation__about"
    href="/about"
  >
    <figure
      class="navigation__button__figure"
    >
      <span
        class="icon icon__about"
        role="presentation"
      >
      </span>
    </figure>
    <p class="navigation__button__label">About</p>
  </a>
</nav>