<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/index.scss" rel="stylesheet" />
  </head>
  <body>
    <!-- TEMPLATES -->
    {{> search-widget}}
    {{> search-result}}
    <!-- END TEMPLATES -->
    {{> main-title}}
    {{> search-section isSmall=true}}
    <section class="expand-page__header">
      <h2
        class="expand-page__header__title"
      >
        <a
          href="{{spec}}"
          class="expand-page__header__title__link"
        >
            {{title}}
          </a>
      </h2>
      <p class="expand-page__header__description">{{description}}</p>
    </section>
    {{> support-table stats}}
    <section>
      <h2>Notes</h2>
      <p>{{notes}}</p>
    </section>
    <script
      src="../src/search-widget.ts"
      type="module"
      charset="utf-8"
    ></script>
  </body>
</html>
