<template id="search-widget-template">
  <style>

    * {
      box-sizing: border-box;
    }

    .wrapper {
      padding: 0 calc(var(--grid-unit) * 2);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .search-container {
      width: 100%;
      position: relative;
      background-color: var(--color-light-green);
      border: 1px solid var(--color-green);
      border-radius: calc(var(--grid-unit) * 4);
    }

    .search-form {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .search-form__input {
      border: none;
      padding: calc(var(--grid-unit) * 2);
      font-size: var(--font-medium);
      flex: 1 1 auto;
      background: none;
    }

    .search-form__submit-button {
      display: none;
    }

    .search-form__submit-label {
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--font-large);
      color: var(--color-light-gray);
      cursor: pointer;
      flex: 0 0 auto;
      background: url('/assets//navigation/search.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    .search-form__input:focus-visible {
      outline: none;
    }

    .search-results {
      position: absolute;
      left: 0;
      background-color: var(--color-light-gray);
      width: 100%;
      padding: 0;
      margin: 0;
      z-index: 10;
    }

    .search-message {
      color: var(--color-dark-red);
      font-size: var(--font-small);
      margin-top: calc(var(--grid-unit) * 0.5);
      display: none;
    }

    .wrapper--small {
      padding: 0 calc(var(--grid-unit) * 1);
    }

    .wrapper--small .search-form__submit-label {
      width: 22px;
      height: 22px;
      font-size: var(--font-medium);
    }

    .wrapper--small .search-form__input {
      padding: calc(var(--grid-unit) * 0.5);
      font-size: var(--font-small);
    }

  </style>
    <div
      class="wrapper"
    >
      <div class="search-container">
        <form id="form" class="search-form">
          <input
            class="search-form__submit-button"
            type="submit"
            value="Query"
          />
          <label
            class="search-form__submit-label"
            for="Query"
          >
          </label>
          <input
            class="search-form__input"
            type="text"
            id="search_input"
            autocomplete="off"
            placeholder="Search for a Lottie feature"
          />
        </form>
        <ul
          id="results"
          class="search-results"
        >
        </ul>
      </div>
      <p id="message" class="search-message"></p>
    </div>
</template>