<template id="search-widget-template">
  <style>
    @import "../css/_global.scss"; 
    @import "../css/_icons.scss";

    * {
      box-sizing: border-box;
    }

    .wrapper {
      padding: 0 calc(var(--grid-unit) * 2);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .search-container {
      width: 100%;
      position: relative;
      background-color: var(--color-surface-2);
      border: 1px solid var(--color-secondary-container);
      border-radius: calc(var(--grid-unit) * 4);
    }

    .search-container--focus {
      border: 2px solid var(--color-secondary-container);
      margin: -1px -2px;
    }

    .search-form {
      display: flex;
      align-items: center;
      justify-content: start;
      overflow: hidden;
    }

    .search-form__input {
      border: none;
      padding: calc(var(--grid-unit) * 2);
      font-size: var(--font-medium-medium-large);
      font-family: var(--font-family);
      flex: 1 1 auto;
      background: none;
      color: var(--color-on-background);
    }

    .search-form__input::placeholder, .search-form__input::-webkit-input-placeholder {
      color: var(--color-on-background);
      opacity: 0.5;
    }

    .search-form__submit-button {
      display: none;
    }

    .search-form__submit-label {
      height: 62px;
      padding: 0 0 0 calc(var(--grid-unit) * 3);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--font-large);
      cursor: pointer;
      flex: 0 0 auto;
    }

    .search-form__input:focus-visible {
      outline: none;
    }

    .search-results-container {
      position: relative;
      width: 100%;
    }

    .search-results {
      position: absolute;
      left: 0;
      right: 0;
      top: calc(var(--grid-unit) * 0.5);
      background-color: var(--color-surface-2);
      width: calc(100% - calc(var(--grid-unit) * 8));
      padding: 0;
      margin: auto;
      z-index: 10;
      border-radius: calc(var(--grid-unit) * 0.5);
      box-shadow: 0px 2px 5px 0px rgba(50, 50, 105, 0.15), 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
      max-height: calc(var(--grid-unit) * 6 * 4);
      overflow: auto;
    }

    .search-message {
      color: var(--color-secondary);
      font-size: var(--font-small);
      margin-top: calc(var(--grid-unit) * 0.5);
      display: none;
    }

    .wrapper--small {
      padding: 0 calc(var(--grid-unit) * 1);
    }

    @media  (max-width: 600px) {
      .search-form__submit-label {
        height: 56px;
      }

      .search-form__input {
        font-size: var(--font-medium);
        line-height: 1.5rem;
        font-weight: 400;
      }
    }


  </style>
    <div
      class="wrapper"
    >
      <div class="search-container" id="search_container">
        <form id="form" class="search-form">
          <input
            class="search-form__submit-button"
            type="submit"
            value="Query"
          />
          <label
            class="search-form__submit-label"
            for="Query"
          >
            <span
              class="icon icon__search"
              role="presentation"
            >
            </span>
          </label>
          <input
            class="search-form__input"
            type="text"
            id="search_input"
            autocomplete="off"
            placeholder="Search for a Lottie feature"
          />
        </form>
        <div class="search-results-container">
          <ul
            id="results"
            class="search-results"
          >
          </ul>
        </div>
      </div>
      <p id="message" class="search-message"></p>
    </div>
</template>